.swap-con {
    width: 420px;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px 0px rgba(97, 5, 17, 0.1);
    border-radius: 24px;
    flex-flow: column;
    display: flex;
    align-items: center;
}